# Revised DSBS.config file
#
java:/usr/bin/java:software
python3:/usr/bin/python3:software

fastqc:/opt/FastQC/fastqc:software
qualimap:/opt/qualimap_v2.2.1/qualimap:software 

fastuniq:/opt/FastUniq/source/fastuniq:software
cutadapt:/usr/local/bin/cutadapt:software
filter_fq:/opt/DSBS/filter_fq.py:software
stdmap_awk:/opt/DSBS/stdmap.awk:software
diffmap_awk:/opt/DSBS/diffmap.awk:software

bsmap:/opt/bsmap/bsmap:software
bissnp:/opt/BisSNP-0.90.jar:software

job_sub_py_2:/opt/DSBS/job_sub_py_2.py:software

samtools:/usr/local/bin/samtools:software
picard:/opt/picard.jar:software

DSBS:/opt/DSBS/DSBS.py:software

refDir:/WORKDIR/DSBSdata/hg38:resource
ref:/WORKDIR/DSBSdata/hg38/GRCh38.p13.genome.fna:resource
dbsnp:/WORKDIR/DSBSdata/dbsnp_155.hg38.vcf.gz:resource
