#

java:/usr/bin/java:soft
python3:/usr/bin/python3:soft

fastqc:/opt/FastQC/fastqc:soft
qualimap:/opt/qualimap_v2.2.1/qualimap:soft 

fastuniq:/opt/FastUniq/source/fastuniq:soft
cutadapt:/usr/local/bin/cutadapt:soft
filter_fq:/opt/DSBS/filter_fq.py:soft
stdmap_awk:/opt/DSBS/stdmap.awk:soft
diffmap_awk:/opt/DSBS/diffmap.awk:soft

bsmap:/opt/bsmap/bsmap:soft
bissnp:/opt/Bis-tools/Bis-SNP/Bis-SNP.latest.jar:soft

job_sub_py_2:/opt/DSBS/job_sub_py_2.py:soft

samtools:/usr/local/bin/samtools:soft
picard:/opt/picard.jar:soft

DSBS:/opt/DSBS/DSBS.py:soft

refDir:/WORKDIR/DATABASE/hg38:resource
ref:/WORKDIR/DATABASE/hg38/hg38.fa.gz:resource
dbsnp:/WORKDIR/DATABASE/dbsnp_155.hg38.vcf:resource
